
<h2><a [routerLink] = "'/displays_counter'">Displays counter</a></h2>
<h2><a [routerLink] = "'/displays_vote'">Displays Vote</a></h2>
<h2><a [routerLink] = "'/transactions'">Transactions</a></h2>
<h2><a [routerLink] = "'/accounts'">Accounts</a></h2>
<!--<h2><a [routerLink] = "'/father_accounts'">Accounts</a></h2>-->

<div class="container mt-3">
  <div class="row">
    <router-outlet></router-outlet>

    <!--    <div class="col-md-6">-->
<!--      <div class="card">-->
<!--        <div class="card-header">-->
<!--          <app-fatheraccounts></app-fatheraccounts>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

<!--    <div class="col-md-6">-->
<!--      <div class="card">-->
<!--        <div class="card-header">-->
<!--          <app-displays></app-displays>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
  </div>
</div>
